.btn-outline-light-transparent {
  background: rgba(255, 255, 255, 0.2);
}

.back-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.br-20 {
  border-radius: 20px;
}

.b-white-3 {
  border: 3px solid #fff;
}


.section_miami {
  background-image: url(../images/miami/back.png);
}

.section_roques {
  background-image: url(../images/los_roques/back.png);
}

.section_canaima {
  background-image: url(../images/canaima/back.png);
}

.section_porlamar {
  background-image: url(../images/Porlamar/back.png);
}

.section_merida {
  background-image: url(../images/Merida/back.png);
}

.section_slide {
  min-height: 100vh;
}

.btn {
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgb(112, 112, 112);
}

.btn-oranger {
  background-color: #fa8c09;
  color: #fff;
}

.bg-orange {
  background-color: #fa8c09;
}

.absolute_section {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.592));
}

.bg-degra-dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.288) 70%, rgba(0, 0, 0, 0.592));
}

.bg-modal {
  background-color: rgba(255, 255, 255, 0.218);

}

.modal_dialog_custom {
  margin: 0 0 0 auto;
}

.select-hotel-form {
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #000;
  box-shadow: 0px 10px 10px rgba(48, 48, 48, 0.717);
}

.absolute-select-hotel {
  transition: all 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.332);
}

.text-hotel-select {
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.65);
}

.input_hotel:checked~.select-hotel-form {
  transform: scale(1.1);
  border: 1px solid rgb(211, 169, 1);
}

.input_hotel:checked~.select-hotel-form>.absolute-select-hotel {
  background-color: transparent;
}

.input_hotel:checked~.select-hotel-form>.absolute-select-hotel>.text-hotel-select {
  background-color: hsla(22, 95%, 23%, 0.757);
}

.btn_number_input {
  padding: 0px !important;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_custom {
  border: 1px solid #2b336a;
  background-color: #2b336a;
  color: #cecece;
}

.input_custom:focus {
  background-color: #2b336a;
  color: #ffffff;
}

.btn-blue {
  background-color: #2b336a;
  color: #ffffff;

}

.item_carrousel {
  bottom: auto;
  top: calc(50% - 40px);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  /* background: #000; */
  margin: 20px;
}

.carousel-indicators li {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin: 0 10px;
  transition: all .5s;
}

.carousel-indicators li.active {
  transform: scale(1.3);
}