.btn-outline-light-transparent {
  background: rgba(255, 255, 255, 0.2);
}

.back-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.br-20 {
  border-radius: 20px;
}

.b-white-3 {
  border: 3px solid #fff;
}
